
#farm {
  display: flex;
  justify-content: center;
}

html{
  background-color: navy;
}

body{
  display:inline;
}

a{
  float: left;
  color: gold;
}

 strong{
   color:gold;
 }

.make {
  height: 150px;
  width: 150px;
  background: navy;
  padding: 10px;
border: solid gold 5px;
margin-left: 20px;
text-align: center;
border-radius: 50%;
padding-left: 10px;
margin-bottom: 20px;
display: flex;
align-items: center;
justify-content: center;
}

.catObject {
  height: 150px;
  width: 150px;
  background: navy;
  padding: 10px;
border: solid gold 5px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
color: gold;
display: flex;
align-items: center;
justify-content: center;
}

.dogObject {
  height: 150px;
  width: 150px;
  background-color: navy;
  padding: 10px;
border: solid gold 5px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
color: gold;
display: flex;
align-items: center;
justify-content: center;
}

.horseObject {
  height: 150px;
  width: 150px;
  background-color: navy;
  padding: 10px;
border: solid gold 5px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
color: gold;
display: flex;
align-items: center;
justify-content: center;
}


.sheepObject {
  height: 150px;
  width: 150px;
  background-color: navy;
  padding: 10px;
border: solid gold 5px;
margin-bottom: 20px;
text-align: center;
border-radius: 50%;    
font-weight: bold;
color: gold;
display: flex;
align-items: center;
justify-content: center;
}



header {
height: 100px;
width: 100%;
  background: gold;
display: flex;
justify-content: center;
margin-bottom: 20px;
}

main {
  display: flex;
  flex-direction: row;
  flex: 500px;
  border: black 1px solid black;

}
 
 div nav{
  text-align: end;
color: gold;
}
main > .farm {
  display: flex;
  flex-direction: column;
  flex: 1;
  order: 2;
}
footer {
  background-color: gold;
  text-align: center;
}
h1{
  color:gold;
  text-align: center;
}
fieldset{
  color: gold;
  border: solid gold 1px;
}
article{
  color: gold;
  text-align:left;
}